<ion-header>
  <ion-toolbar>
    <ion-title>produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createform">
    <ion-grid>
      <ion-row  >
       <br>

        <ion-col  size-md="6" size-lg="5" size-xs="12">
        </ion-col>
      </ion-row>
    </ion-grid>
<div style="margin-top: 100px;" >
  <ion-item style=" border-radius: 25px;width: 98%;margin: 0 auto;" ><br/>
    <ion-label color="sunny"> @ </ion-label>
    <ion-input type="text" formControlName="nomprod"  name="nomprod" placeholder="le nom de produit"  ></ion-input>
  </ion-item><br/>
          <ion-item style=" border-radius: 25px;width: 98%;margin: 0 auto;" ><br/>
            <ion-label color="sunny"> @ </ion-label>
            <ion-input type="text" formControlName="description"  name="description" placeholder="la description de produit "  ></ion-input>
          </ion-item><br/>

          <ion-item style=" border-radius: 25px;;width: 98%;margin: 0 auto;">
            <ion-label color="sunny"><ion-icon name="Key-outline" style="color: #0e0d40"></ion-icon></ion-label>
            <ion-input type="prix" formControlName="prix"  name="prix" placeholder="le prix de produit svp"  ></ion-input>
          </ion-item><br/><br/>
          
<div >
          <ion-button style="width: 80%;margin: 0 auto;"  color="light" expand="block" (click)="create()"  shape="round" fill="outline">Ajouter</ion-button>
          <ion-button href="/home">Home</ion-button>
          <br>
          
</div>
</div>
  </form>
</ion-content>
